.benefits{
    padding-top: 94px;
}
   
.benefits-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.benefits-list{
    display: flex;
}


.benefits-item:not(:last-child){
    margin-right: 30px;
}
   
.benefits-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
}

.background-icon{
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.benefits-icon{
   display: flex;
   align-items: center;
   justify-content: center;
}